
.categories-menu{
    display: flex;
    flex-direction: column;
    position: relative;
}



.menu__wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: .1s;
    cursor: pointer;
    transform: translateY(100%) scale(0.6);
    opacity: 0.5;

    background-color: var(--main-background-color);
}

.categories-menu__item{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--font-color-gray);
    justify-content: center;
    padding-block: 16px;
    font-size: var(--font-size-l);
    font-weight: 400;
    transition: .1s;
    position: relative;
}

.menu__wrapper:hover .categories-menu__item{
    color: black;
    transform: scale(1.05);
}



.menu__wrapper:hover{
    border-bottom: 1px solid black;
}

.item__count{
    position: absolute;
    font-size: var(--font-size-xs);
    top: 0;
    left: 100%;
}

.item__meter{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: var(--font-color-gray);
    font-size: var(--font-size-l);
    margin: 0;
    opacity: 0;
    transition: .1s;
}

.menu__wrapper:hover .item__meter{
    opacity: 1;
    color: black;
}



@media (max-width: 991px){
    .categories-menu__item, .title, .item__meter{
        font-size: var(--font-size-m);
    }
}

@media (max-width: 676px){
    .item__meter{
        opacity: 1;
        left: 20px;
    }
}