.container{
    margin-bottom: 60px;
}

.servises-box{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.item{
    background-color: var(--gray-card-color);
    flex: 0 1 32%;
    width: 32%;
    display: flex;
    flex-direction: column;
}

.item:last-child, .item:first-child{
    flex-direction: column-reverse;
    justify-content: space-between;
}

.image-container{
    display: flex;
    align-items: center;
}

.item__image{
    width: 100%;
}



.item__textbox{
    padding-block: max(30px, min(4vw, 50px));
    padding-inline: max(40px, min(4vw, 70px));
    height: 100%;
    display: flex;
    flex-direction: column;
}

.item__icon{
    width: max(24px, min(3vw, 36px));
}

.item__title{
    color: black;
    font: var(--font-helvetica);
    font-size: var(--font-size-m);
    margin-bottom: max(12px, min(1.5vw, 24px));
    margin-top: max(4px, min(1.5vw, 8px));
}

.item__description{
    color: var(--font-color-gray);
    font: var(--font-dm);
    font-size: var(--font-size-xs);
}

@media (max-width: 767px){
    .servises-box{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .item__textbox{
        padding: 0;
        padding-inline: 24px;
    }

    .item{
        width: 100%;
        flex: 0 1 100%;
        flex-direction: row-reverse !important;
        padding-block: max(18px, min(4.5vw, 30px));
        align-items: center;
    }

    .item__image{
        width: max(120px, min(30vw, 400px));
        height: auto;
    }

    .item:last-child, .item:first-child{
        flex-direction: row !important;
    }

}

@media (max-width: 676px){
    .container__wrapper{
        margin: 0 auto;
        width: var(--main-wrapper-width);
    }
}