.title{
    color: black;
    font-weight: normal;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-block: 16px;
    border-bottom: var(--main-border);
    margin-top: max(64px, min(14vw, 120px));
    margin-bottom: max(32px, min(4vw, 60px));
    font-size: var(--font-size-l);
}


@media (max-width: 991px){
    .title{
        font-size: var(--font-size-ls);
    }
}