.container{
    margin-top: 136px
}

.info-block{
    display: flex;
    justify-content: space-between;
}

.info-block__text{
    color: black;
}

.text-1{
    margin-bottom: 130px;
    max-width: 620px;
    font-weight: 700;
}

.text-2__description{
    max-width: 505px;
}

.info-block__img-box{
    margin-top: 116px;
    width: max(200px, min(80vw, 680px));
    position: relative;
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: fit-content;
    margin-bottom: max(150px, min(20vw, 210px));
}

.img-box__container{
    width: 80%;
    max-width: 520px;
}

.img{
    width: 100%;
    transform: translateY(120px) scale(1);
}

.sub-img{
    position: absolute;
    left: -16px;
    bottom: -20%;
    width: 42%;
    max-width: 250px;
    border: max(14px, min(1.5vw, 24px)) solid var(--main-background-color);
    transform: translateY(60px);
}


.slider-box{
    display: flex;
}
.slider{
    width: 100%;
    display: flex;
    overflow-x: auto;
    box-sizing: border-box;
    padding-bottom: 30px;
}

.slider::-webkit-scrollbar{
    height: 0px;
}

.slider__content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: max(20px, min(3.5vw, 40px));
    box-sizing: border-box;
}

.slider__link-img{
    padding-right: max(20px, min(3.5vw, 40px));
    cursor: pointer;
    transition: .1s;
}

.slider__link-img:hover{
    transform: translateX(4px);
}

.slider__item{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

.slider__counter{
    color: black;
    font-size: var(--font-size-m);
    margin-bottom: 16px;
}


.slider__img{
    border: 1px solid rgba(113, 113, 113, 0.5);
    display: block;
    height: max(160px, min(45vw, 300px));
}

.item__info{
    padding-top: 16px;
    color: black;
    font-size: var(--font-size-s);
}

@media (max-width: 1400px) {
    .info-block{
        gap: 40px;
    }
}

@media (max-width: 991px){
    .text-1{
        font-size: var(--font-size-m);
        margin-bottom: 60px;
    }
    .text-2__description{
        font-size: var(--font-size-xs);
    }

}

@media (max-width: 767px) {
    .text-1{
        margin-bottom: 32px;
        font-size: var(--font-size-s);

    }
    .info-block{
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .info-block__img-box{
        margin-top: 0;
    }
}

@media (max-width: 676px) {
    .slider{
        overflow-x: scroll;
    }

    .slider__content{
        margin-left: calc((100% - var(--main-wrapper-width)) / 2);
        width: 200%;
    }

    .container{
        margin-top: 64px;

    }
    .info-block{
        padding-top: 10px;
        width: var(--main-wrapper-width);
        margin: 0 auto;
    }
}
