.paragraph{
    font-size: var(--font-size-xs);
    color: var(--font-color-gray);
    margin-bottom: 32px;
}

.paragraph--italy{
    color: black;
    font-style: italic;
    font-size: var(--font-size-s);
    font-family: var(--font-helvetic);
    font-weight: 700;
}