.container__wrapper{
    position: relative;
}

.title{
    position: relative;
    font-family: 'Helvetica';
    text-transform: uppercase;
    font-size: max(26px, min(4vw, 64px));
    color: var(--button-color);
    line-height: 1.2;
    z-index: 10;
}

.stroke-font{
    -webkit-text-stroke: 1px var(--button-color);
    color: transparent;
}

.image{
    display: block;
    position: absolute;
    top: max(22px, min(2.2vw, 36px));
    left: 50%;
    transform: translateX(-50%);
    width: max(140px, min(20vw, 320px));
    z-index: 1;
}

.textbox{
    display: flex;
    justify-content: right;
}

.textbox__wrapper{
    max-width: 410px;
    margin-right: calc(105px + max(20px, min(1.5vw, 40px)) + min(5vw, 100px));
}

.mobile-white-space{
    display: none;
}

.desktop-span-1, .desktop-span-2, .desktop-span-3{
    display: inline-block;
    width: 6em;
}

.desktop-span-3{
    width: 7.68em;
}


@media (max-width: 676px){
    .container__wrapper{
        width: var(--main-wrapper-width);
        margin: 0 auto;
    }

    .textbox__wrapper{
        margin-right: 0;
        width: 58vw;
    }

    .image{
        width: max(190px, min(28vw, 320px));
        top: max(30px, min(5vw, 80px));

    }

    .desktop-span-1, .desktop-span-2, .desktop-span-3{
        display: none;
    }
    .mobile-white-space{
        display: block;
    }
}

@media (max-width: 565px){
    .image{
        top: max(30px, min(8vw, 100px));
    }
}


@media (max-width: 454px){
    .image{
        top: max(30px, min(14vw, 180px));
    }
}

@media (max-width: 402px){
    .image{
        top: max(30px, min(16vw, 200px));
        width: max(200px, min(54vw, 340px));
    }
}

@media (max-width: 360px){
    .image{
        top: max(30px, min(20vw, 200px));
    }
}