@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@font-face{
  font-family: 'Helvetica';
  src: url(../src/assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff);
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-dm: 'DM Sans', sans-serif;
  --font-helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  --border-color: #88857E;
  --main-border: 1px solid #88857E;
  --main-border-: 1px solid #88857e74;
  --gray-card-color: #E4E4E4;

  --main-background-color: #F3F1EB;
  --main-wrapper-width: 82%;
  --max-wrapper-width: 1400px;
  --advanced-width: 1600px;

  --header-height: 76px;

  --font-size-xs: max(10px, min(2.7vw, 16px));
  --font-size-s: max(14px, min(1.5vw, 18px));
  --font-size-m: max(18px, min(2.8vw, 32px));
  --font-size-ls: max(26px, min(4vw, 36px));
  --font-size-l: max(30px, min(4.5vw, 48px));
  --font-size-xl: max(44px, min(8vw, 64px));

  --font-color-gray: #717171;

  --button-color: #532926;
  --button-hover-color: #745452;
  
  --footer-color: #532926;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: var(--main-background-color);
}

